@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");


:root{
    --iriscolor: #4d5ae5 ;
    --navyblue:  #2e2f42;
    --black: #000000;
    --oceancolor: #2196f3;
    --white: #ffffff;
    --slate: #434455;
    --cloud: #f4f4fd;
    --ocean: #404bbf;
    --cornflower: #e7e9fc;

}

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--slate);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/*h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
html{
box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    }*/

/*Header*/

.link-logo{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.web-logo{
    color: var(--iriscolor);
}
.section-grey{
    background-color: var(--cloud);
}

.studio-logo{
    color: var(--navyblue);
}
.team-name{

    color: var(--navyblue);
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.pages{
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
}

.list {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sec1-images {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.member {

    list-style-type: none;
}
.list {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list .pages:hover,
.list .pages:focus,
.list .pages.option,
.contact .info:hover,
.contact .info:focus {

        color: var(--iriscolor);
}

        

.contact .info{
    color: var(--slate);
    text-decoration: none;
}
.hero{
    background-color: var(--navyblue);
}
.h1-title{
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.order-button{
    cursor: pointer;
    border: none;
    font-family: inherit;
}
.order-button.primary{
    background-color: var(--iriscolor);
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    border-radius: 4px;
}
.order-button.primary:hover,
.order-button.primary:focus{
    background-color: #404bbf;
}

.criteria{

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;

}
.section-title{

    color: var(--navyblue);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
}
.employee{

    margin: 0;
    padding: 0;
}
/*.position{
    text-align: center;
 }*/

/*page1footer*/

.footer{
    background-color: var(--navyblue);
    
}
.studio-logo2{
    color: var(--white);
}
.footer-text{
    color: var(--white);
}

/*Portfolio-Section1*/

.filter-button:hover, .filter-button:focus, .active-filter{

    color: white;
    background: var(--ocean);
    border-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12) 0px 2px 1px 0px rgba(0, 0, 0, 0.08) 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.active-filter{
    color: var(--white);
    font-size: 16px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    letter-spacing: 0.05em;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

}

.filter-button{
    
    color: var(--iriscolor);
    font-size: 16px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    letter-spacing: 0.05em;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

    
    